<ion-header color="primary" class="header">
  <ion-toolbar class="toolbar">
    <ion-title><ion-icon name="book" class="book-icon"></ion-icon>
    <span class="title-text"> शिक्षामनोविज्ञानम् </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="topbar-container">
    <ion-segment mode="md" [value]="segment" [scrollable]="true" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="studymaterial">
        <ion-label>Study Material</ion-label>
      </ion-segment-button>
      <ion-segment-button value="document">
        <ion-label>PPT</ion-label>
      </ion-segment-button>
      <ion-segment-button value="testList">
        <ion-label>Test</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

<div class="loaders" *ngIf="chapters.length == 0">
  <img src="/assets/Images/loader.svg" class="loader-image">
</div>

<div class="page-container" *ngIf="chapters.length">
    <div>
      <ion-card *ngFor="let chapter of chapters" class="chapter-card">
        <ion-card-content>
          <ion-card-title class="chapter-title">
            {{chapter.name}}
          </ion-card-title>
          <div class="chapter-card-content">
            {{chapter.description}}
          </div>
          <ion-button expand="block" (click)="redirectToChapter(chapter)">
            Learn More
            <ion-icon slot="end" name="arrow-forward-circle-sharp" ></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
</div> 
</ion-content>

