.page-container {
    margin: 4rem 1rem;
  }
  
  .profile-container {
    margin: 5px 7px 4px -12px;
  }
  
  .video-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .video-cont {
      margin-top: 10px;
    }
  
    .imagediv {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
    }
  
    .video-ctnr {
      display: flex;
      margin-top: 10px;
    }
  }
  
  .sub-Title-videos {
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0px;
    text-align: center;
  }
  
  .details-container {
    margin-left: 20px;
  }
  
  .video-title {
    font-size: 15px;
    font-weight: 700;
    text-align: start;
    color: black;
    margin-bottom: 5px;
  }
  
  .video-des {
    text-align: start;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .video-card{
    margin-inline:5px !important ;
    margin-bottom: 20px !important;
  }
  
  .video-detailsCont{
    padding: 10px !important;
  }
  
  ion-segment-button {
    font-size: 15px;
  }
  
  .topbar-container {
    position: fixed !important;
    top: 60px;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
  
    position: sticky;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  
  .page-container {
    ::-webkit-scrollbar {
      display: none;
    }
  }
    
  ion-segment-button.segment-button-checked{
    font-weight: 600;
  }
  
  .book-icon {
    font-size: 24px;
    margin-right: 5px;
    color: #ffffff;
  }
  
  .title-text {
    color: #ffffff;
    font-weight: 400;
    vertical-align: bottom;
    font-family: "Laila", serif !important;
  }
  .toolbar {
    height: 60px;
    padding: 5px 0px;
  }
  
  .header {
    --ion-background-color: #2e79ba !important;
  }
  
  .chapter-title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .chapter-card {
    --ion-background-color: #e7eaf6 !important;
    padding: 5px 5px;
    margin-bottom: 20px;
  }
  
  .test-card {
    --ion-background-color: #e7eaf6 !important;
    padding: 5px 5px;
    margin-bottom: 20px;
  }
  
  .chapter-card-content {
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .video-duration-text {
    margin-left: 4px;
  }
  
  .time-icon {
    font-size: 19px;
    vertical-align: top !important;
  }
  
  .video-duration {
    display: flex;
    justify-content: end;
    margin-right: 5px;
  }
  
  .test-time{
    margin-top:10px;
    margin-bottom:15px;
  }
  
  .test-questions {
    margin-top:10px;
    margin-bottom:10px;
  }
  
  .test-content {
    font-weight: 700;
  }
