<ion-header>
    <ion-toolbar color="primary" class="header">
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="icon-container">
        <ion-col class="icon-col">
            <img src="../../assets/Images/about-img.jpeg" alt="" class="about-image">
            <p class="title-text">एस्.वि.विजय कुमारः</p>
            <p class="title-text">अनुसन्धाता</p>
            <p class="title-text">राष्ट्रियसंस्कृतविश्वविद्यालयः, तिरुपतिः</p>
            <p class="title-text">दूरभाषा - 9113902013</p>
            <p class="title-text">ई - मेल - vijaysanskrit92@gmail.com</p>
        </ion-col>
    </ion-row>

    <div>
        <p class="about-content">
            <b>एस्.वि.विजय कुमारः </b>इति नामधेयोऽहं तिरुपतिस्थराष्ट्रियसंस्कृतविश्वविद्यालये शिक्षाविभागे डा. प्रह्लाद
            आर. जोशी एवं डा. बी. चन्द्रशेखरम् इत्येतयोः मार्गदर्शने
            <b>“संस्कृते शिक्षामनोविज्ञानाधिगमाय अन्तर्जालाधारितसंसाधनानां विकासः प्रायोगिकाध्ययनञ्च”</b> इत्यस्मिन्
            विषये विद्यावारिधिः (पि.एच.डी) इत्युपाधये शोधकार्यं कुर्वन् अस्मि । तदर्थं <b>अनुप्रयोगतन्त्रांशनिर्माणं
                (APP)</b>
            क्रियते । एतत् (पि.एच्.डी) निमित्तमेव उपयुज्यते ।
        </p>
        <p class="about-content">
            <b>शिक्षामनोविज्ञानम् </b>इति विषयः अद्यत्वे अधिकाधिकं लोकप्रियः जायमानः अस्ति। अन्येषां विषयाणां तुलनायां
            वरिष्ठमाध्यमिक-उपाधि-स्तरयोः अधिकाधिकाः छात्राः इमं विषयं विकल्परूपेण स्वीकुर्वन्ति । यथा<b> CTET,KVS, NVS,
                TET तथा
                NET </b>
            इत्यादिशिक्षकनियामकपरीक्षासु तत्सम्बद्धपरीक्षासु प्रतिष्ठितासु प्रतियोगितापरीक्षासु अपि शिक्षामनोविज्ञानस्य, प्रारम्भिकस्य मुख्यपरीक्षायाः च कृते चयनं कुर्वतां छात्राणां संख्या प्रतिवर्षं वर्धमाना अस्ति। अस्य लोकप्रियतायाः कारणेन प्रायः सर्वेषु क्षेत्रेषु प्रयोगः क्रियमानः अस्ति ।
            <b>आधुनिककाले अन्तर्जालस्य </b>उपयोगः वर्धितः अस्ति । यथा चलदूरभाषः<b>अनुप्रयोगतन्त्रांशः (APP)</b>
            कृत्रिमबुद्धिमत्त (AI) । एतदर्थं मयापि शिक्षामनोविज्ञानसम्बद्धः <b>अनुप्रयोगतन्त्रांशः (APP) </b>निर्मीयते ।
            एतम् अनुप्रयोगतन्त्रांशं उपयुज्य छात्राः सुलभतया शिक्षामनोविज्ञानविषयम् अधिगमं प्रप्तुं शक्नुवन्ति । तथा च
            विविधाषु परीक्षाषु उत्तमरीत्य प्रस्तोतुं पारयन्ति इत्याशा।
        </p>
        <p class="content-footer">इत्थम्</p>
        <p class="content-footer">एस्.वि.विजय कुमारः</p>
    </div>
</ion-content>