<ion-header color="primary" class="header">
  <ion-toolbar class="toolbar">
    <ion-title><ion-icon name="book" class="book-icon"></ion-icon>
    <span class="title-text"> शिक्षामनोविज्ञानम् </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="topbar-container">
    <ion-segment mode="md" [value]="segment" [scrollable]="true" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="studymaterial">
        <ion-label>Study Material</ion-label>
      </ion-segment-button>
      <ion-segment-button value="document">
        <ion-label>PPT</ion-label>
      </ion-segment-button>
      <ion-segment-button value="testList">
        <ion-label>Test</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="loaders" *ngIf="documents.length == 0">
    <img src="/assets/Images/loader.svg">
  </div>

<div class="page-container" *ngIf="documents.length">
  <!-- documemt Section -->
  <div>
    <ion-item *ngFor="let file of documents">
      <ion-label>
        <h2>{{file.name}}</h2>
        <p>
          {{file.format}} - {{file.size}}
        </p>
      </ion-label>
      <ion-button slot="end" (click)="downloadDocument(file.url)"> <ion-icon name="download-outline"></ion-icon> </ion-button>
    </ion-item>
  </div>
</div>
</ion-content>
