<ion-header color="primary" class="header">
  <ion-toolbar class="toolbar">
    <ion-title><ion-icon name="book" class="book-icon"></ion-icon>
    <span class="title-text"> शिक्षामनोविज्ञानम् </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="topbar-container">
    <ion-segment mode="md" [value]="segment" [scrollable]="true" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="studymaterial">
        <ion-label>Study Material</ion-label>
      </ion-segment-button>
      <ion-segment-button value="document">
        <ion-label>PPT</ion-label>
      </ion-segment-button>
      <ion-segment-button value="PracticeTest">
        <ion-label>Practice Test</ion-label>
      </ion-segment-button>
      <ion-segment-button value="AchievementTest">
        <ion-label>Achievement Test</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div class="loaders" *ngIf="assessments.length == 0">
    <img src="/assets/Images/loader.svg">
  </div>
 <!-- assesment section -->
 <div class="page-container" *ngIf="assessments.length">
  <ion-card *ngFor="let test of assessments" class="test-card" [ngClass]="{'card-color-green': segment === 'AchievementTest' && disableTest}">
    <ion-card-content>
      <div class="test-name"><span class="test-content">Test Name: </span>{{test.name}}</div>
      <div class="test-questions"><span class="test-content">Questions: </span>{{50}}</div>
      <div class="test-time" *ngIf="test.category == 'achievement'">
        <ion-icon name="stopwatch-outline" class="time-icon"></ion-icon>
        <span class="test-content">Time: </span>1 hr</div>
        <div class="test-completed" *ngIf="segment == 'AchievementTest' && disableTest">Test completed
          <ion-icon name="trophy" class="icon"></ion-icon>
        </div>
      <ion-button (click)="takeAssessment(test)" expand="block" *ngIf="!(segment == 'AchievementTest' && disableTest)">
        Take Test
        <ion-icon slot="end" name="arrow-forward-circle-sharp"></ion-icon>
      </ion-button>
      <ion-button (click)="takeAssessment(test,'result')" expand="block" *ngIf="(segment == 'AchievementTest' && disableTest)" style="margin-top: 10px;">
        View Results
        <ion-icon slot="end" name="arrow-forward-circle-sharp"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
