<ion-header color="primary" class="header">
  <ion-toolbar class="toolbar">
    <ion-title><ion-icon name="book" class="book-icon"></ion-icon>
    <span class="title-text"> SansLearning-2</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="topbar-container">
    <ion-segment mode="md" [value]="segment" [scrollable]="true" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="studymaterial">
        <ion-label>Study Material</ion-label>
      </ion-segment-button>
      <ion-segment-button value="document">
        <ion-label>PPT</ion-label>
      </ion-segment-button>
      <ion-segment-button value="testList">
        <ion-label>Test</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div class="loaders" *ngIf="assessments.length == 0">
    <img src="/assets/Images/loader.svg">
  </div>
 <!-- assesment section -->
 <div class="page-container" *ngIf="assessments.length">
  <ion-card *ngFor="let test of assessments" class="test-card">
    <ion-card-content>
      <div class="test-name"><span class="test-content">Test Name: </span>{{test.name}}</div>
      <div class="test-questions"><span class="test-content">Questions: </span>{{50}}</div>
      <div class="test-time" *ngIf="test.category == 'achievement'">
        <ion-icon name="stopwatch-outline" class="time-icon"></ion-icon>
        <span class="test-content">Time: </span>1 hr</div>
      <ion-button (click)="takeAssessment(test)" expand="block">
        Take Test
        <ion-icon slot="end" name="arrow-forward-circle-sharp"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
