<ion-header hidden>
  <ion-toolbar color="primary">
    <ion-title>SansLearn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding [formGroup]="loginForm" >

  <ion-item lines="none" color="primary">
  </ion-item>

  <ion-row>
    <ion-col class="logo-sec">
      <img src="assets/Images/logo.png" class="logo-img" alt="logo">
    </ion-col>
  </ion-row>

  <!-- <ion-item lines="none" color="primary" class="text1">
    <ion-label>EPL (शिक्षामनोविज्ञानाधिगमः)</ion-label>
  </ion-item> -->


  <ion-item lines="none" color="primary">
  </ion-item>
    
 
    <div>
      <div class="rowStyle" >
        <ion-text class="text">Enter your email</ion-text>
      </div>
      <ion-item lines="none" color="light" class="rowStyle">
        <ion-input type="text" placeholder="email" formControlName="email" class="forgot-password-input"></ion-input>
      </ion-item>
      <div class="rowStyle" *ngIf="loginForm.controls?.email.touched && loginForm.controls?.email.invalid">
        <ion-text class="error-message">Enter valid mail</ion-text>
      </div>
 
      <ion-item lines="none" class="align" color="primary">
        <button clear color="primary" class="rowStyleButton" (click)="recover()">Recover Password</button>
      </ion-item>

      <ion-item lines="none" class="align" color="primary">
        <button clear color="primary" class="rowStyleButton" (click)="gotoLogin()">Back to Signin</button>
      </ion-item>
  </div>
  
</ion-content>