<ion-content color="primary" padding [formGroup]="signupForm">
    <ion-row class="icon-container">
      <div class="logo-sec">
        <img src="assets/Images/logo.png" class="logo-img" alt="logo">
      </div>
    </ion-row>
  
    <ion-item lines="none" color="primary" class="text1">
      <ion-label>EPL (शिक्षामनोविज्ञानाधिगमः)</ion-label>
    </ion-item>
    
    <div>
      <ion-item lines="none" color="light" class="rowStyle">
        <ion-input type="text" placeholder="Name" formControlName="name" class="signup-input"></ion-input>
      </ion-item>
      <div class="rowStyle" *ngIf="signupForm.controls?.name.touched && signupForm.controls?.name.invalid">
        <ion-text class="error-message">Enter valid name</ion-text>
      </div>

      <ion-item lines="none" color="light" class="rowStyle">
        <ion-select placeholder="Gender" formControlName="gender" class="signup-input">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="others">Others</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" color="light" class="rowStyle">
        <ion-select placeholder="university" formControlName="university" class="signup-input">
          <ion-select-option value="NSU">राष्ट्रियसंस्कृतविश्वविद्यालयः तिरुपतिः (NSU,  TIRUPATI)</ion-select-option>
          <ion-select-option value="CSU">केंद्रियसंस्कृतविश्वविद्यालयः लखनऊ परिशरः (CSU,  Lucknow)</ion-select-option>
          <ion-select-option value="SLBSNSU">श्री लालबहादुर शास्त्री  राष्ट्रियसंस्कृतविश्वविद्यालयः ( SLBSNSU, New Delhi)</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" color="light" class="rowStyle">
        <ion-select class="form-input" placeholder="Category" formControlName="category" class="signup-input">
          <ion-select-option value="General">General</ion-select-option>
          <ion-select-option value="OBC">OBC</ion-select-option>
          <ion-select-option value="SC">SC</ion-select-option>
          <ion-select-option value="ST">ST</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" color="light" class="rowStyle">
        <ion-input type="text" maxlength="10" placeholder="Mobile" formControlName="mobile" class="signup-input"></ion-input>
      </ion-item>
      <div class="rowStyle" *ngIf="signupForm.controls?.mobile.touched && signupForm.controls?.mobile.invalid">
        <ion-text class="error-message">Enter valid mobile number</ion-text>
      </div>

      <ion-item lines="none" color="light" class="rowStyle">
        <ion-input type="text" placeholder="Email" formControlName="email" class="signup-input"></ion-input>
      </ion-item>

      <div class="rowStyle" *ngIf="signupForm.controls?.email?.touched && signupForm.controls?.email?.invalid">
        <ion-text class="error-message">Enter valid mail</ion-text>
      </div>
      <ion-item lines="none" color="light" class="rowStyle">
        <ion-input type="password" placeholder="Password" formControlName="password" class="signup-input"></ion-input>
      </ion-item>
      <div class="rowStyle" *ngIf="signupForm.controls?.password?.touched && signupForm.controls?.password?.invalid">
        <ion-text class="error-message">Enter valid password</ion-text>
      </div>
      <ion-item lines="none" color="light" class="rowStyle">
        <ion-input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="signup-input"></ion-input>
      </ion-item>
      <div class="rowStyle" *ngIf="signupForm.controls?.confirmPassword?.touched && signupForm.controls?.confirmPassword?.errors?.required">
        <ion-text class="error-message">Confirm Password is required</ion-text>
      </div>
      <div class="rowStyle" *ngIf="signupForm.controls?.confirmPassword?.touched && signupForm.controls?.confirmPassword?.errors?.passwordsDontMatch">
        <ion-text class="error-message">Passwords should match</ion-text>
      </div>

      <ion-item lines="none" class="align" color="primary">
        <button color="primary" class="rowStyleButton" (click)="signup()">SignUp</button>
      </ion-item>
      <ion-item lines="none" class="align-signin" color="primary">
        <button clear color="primary" class="rowStyleButton" (click)="gotoLogin()">Back to Signin</button>
      </ion-item>
    </div>
</ion-content>