<ion-content padding [formGroup]="profileForm">
  <div *ngIf="!isLoading">
    <ion-header>
      <ion-toolbar color="primary" class="header">
        <ion-title>Profile</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start" class="profile-image">
          <ion-img src="../../assets/Images/profileIcon.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2 class="profile-nameText">{{userdetails.name}}</h2>
          <h3>{{userdetails.email}}</h3>
          <p>{{userdetails.phone}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-button color="profileColor" slot="start" class="profile-icon-button">
        <ion-icon slot="icon-only" name="person-circle-outline" class="profile-icons"></ion-icon>
      </ion-button>
      <ion-label (click)="ShowDetails()" class="about-items-label">Account</ion-label>
      <p class="edit-text" *ngIf="showUserDetails" (click)="isFormDisabled = !isFormDisabled"><ion-icon name="create"
          class="user-edit-icon"></ion-icon>Edit</p>
      <ion-icon [name]="showUserDetails ? 'chevron-up-outline' : 'chevron-down-outline'"
        (click)="ShowDetails()"></ion-icon>
    </ion-item>

    <ng-container *ngIf="showUserDetails">
      <div class="user-form-details">

        <ion-item lines="none" color="light" class="rowStyle">
          <ion-label class="label-color" position="floating" class="form-lable"><ion-icon name="person-outline"
              class="user-icons"></ion-icon>Name</ion-label>
          <ion-input type="text" placeholder="name" formControlName="name" class="form-input"
            [ngClass]="{ 'form-input-disabled': isFormDisabled }"></ion-input>
        </ion-item>

        <div class="rowStyle" *ngIf="profileForm.controls?.name.touched && profileForm.controls?.name.invalid">
          <ion-text>Enter valid name</ion-text>
        </div>

        <ion-item lines="none" color="light" class="rowStyle">
          <ion-label class="label-color" position="floating" class="form-lable"><ion-icon name="man-outline"
              class="user-icons"></ion-icon>Gender</ion-label>
          <ion-select placeholder="Gender" formControlName="gender" class="form-input"
            [ngClass]="{ 'form-input-disabled': isFormDisabled }">
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="others">Others</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" color="light" class="rowStyle">
          <ion-label class="label-color" position="floating" class="form-lable">
            <ion-icon name="call-outline" class="user-icons"></ion-icon>Phone</ion-label>
          <ion-input type="number" placeholder="mobile" formControlName="mobile" maxlength="10" class="form-input"
            [ngClass]="{ 'form-input-disabled': isFormDisabled }"></ion-input>
        </ion-item>

        <div class="rowStyle" *ngIf="profileForm.controls?.mobile.touched && profileForm.controls?.mobile.invalid">
          <ion-text class="error-message">Enter valid mobile number</ion-text>
        </div>

        <ion-item lines="none" color="light" class="rowStyle">
          <ion-label class="label-color" position="floating" class="form-lable"><ion-icon name="school"
              class="user-icons"></ion-icon>University</ion-label>
          <ion-select class="form-input" placeholder="university" formControlName="university" class="form-input"
            [ngClass]="{ 'form-input-disabled': isFormDisabled }">
            <ion-select-option value="NSU" class="word-break">राष्ट्रियसंस्कृतविश्वविद्यालयः तिरुपतिः (NSU,
              TIRUPATI)</ion-select-option>
            <ion-select-option value="CSU" class="word-break">केंद्रियसंस्कृतविश्वविद्यालयः लखनऊ परिशरः (CSU,
              Lucknow)</ion-select-option>
            <ion-select-option value="SLBSNSU" class="word-break">श्री लालबहादुर शास्त्री राष्ट्रियसंस्कृतविश्वविद्यालयः
              ( SLBSNSU, New Delhi)</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" color="light" class="rowStyle">
          <ion-label class="label-color" position="floating" class="form-lable"><ion-icon name="list"
              class="user-icons"></ion-icon>Category</ion-label>
          <ion-select class="form-input" placeholder="university" formControlName="category" class="form-input"
            [ngClass]="{ 'form-input-disabled': isFormDisabled }">
            <ion-select-option value="General">General</ion-select-option>
            <ion-select-option value="OBC">OBC</ion-select-option>
            <ion-select-option value="SC">SC</ion-select-option>
            <ion-select-option value="ST">ST</ion-select-option>
          </ion-select>
        </ion-item>

      </div>
      <div class="save-button-container">
        <ion-button expand="block" *ngIf="!isFormDisabled && profileForm.dirty && profileForm.valid" (click)="saveProfile()"
          class="save-button">UPDATE</ion-button>
      </div>
    </ng-container>

    <ion-item>
      <ion-button color="about" slot="start" class="profile-icon-button">
        <ion-icon slot="icon-only" name="alert-circle-outline" class="profile-icons"></ion-icon>
      </ion-button>
      <ion-label (click)="navigateToAboutPage()" class="about-items-label">About</ion-label>
    </ion-item>

    <ion-item>
      <ion-button slot="start" class="profile-icon-button">
        <ion-icon slot="icon-only" name="lock-closed-outline" class="profile-icons"></ion-icon>
      </ion-button>
      <ion-label (click)="showPasswordSection = !showPasswordSection" class="about-items-label">Change Password</ion-label>
      <ion-icon [name]="showPasswordSection ? 'chevron-up-outline' : 'chevron-down-outline'"
      (click)="showPasswordSection = !showPasswordSection"></ion-icon>
    </ion-item>

    <ng-container *ngIf="showPasswordSection" [formGroup]="passwordForm">
      <div class="user-form-details">
        <ion-item lines="none" color="light" class="rowStyle">
          <ion-label class="label-color form-lable" position="floating"><ion-icon name="key" class="user-icons"></ion-icon>New Password</ion-label>
          <ion-input [type]="toggleNewPassword ? 'text' : 'password'" placeholder="password" formControlName="newPassword" class="form-input"></ion-input>
          <ion-icon *ngIf="newPassword?.value" [name]="toggleNewPassword ? 'eye':'eye-off'" slot="end" (click)="toggleNewPassword = !toggleNewPassword" class="eye-icon"></ion-icon>
        </ion-item>

        <ion-item lines="none" color="light" class="rowStyle">
          <ion-label class="label-color form-lable" position="floating"><ion-icon name="key"
              class="user-icons"></ion-icon>Confirm Password</ion-label>
          <ion-input [type]="toggleCpassword ? 'text' : 'password'" placeholder="password" formControlName="cPassword" class="form-input">
          </ion-input>
          <ion-icon *ngIf="CPassword?.value" [name]="toggleCpassword ? 'eye':'eye-off'" slot="end" (click)="toggleCpassword = !toggleCpassword" class="eye-icon"></ion-icon>
        </ion-item>
      </div>
      <div class="save-button-container">
        <ion-button expand="block" [disabled]="!(passwordForm.dirty && passwordForm.valid)" (click)="changePassword()"
          class="save-button">Change Password</ion-button>
      </div>
    </ng-container>

    <ion-item>
      <ion-button color="logout" slot="start" class="profile-icon-button">
        <ion-icon slot="icon-only" name="log-out-outline" class="profile-icons"></ion-icon>
      </ion-button>
      <ion-label (click)="logout()" class="about-items-label">Logout</ion-label>
    </ion-item>
  </div>
  <div class="loaders" *ngIf="isLoading">
    <img src="/assets/Images/loader.svg">
  </div>
</ion-content>